@import "tailwindcss";
@import "tw-animate-css";

@import "../styles/tokens/colors.css";
@import "../styles/tokens/typography.css";
@import "../styles/themes/light.css";
@import "../styles/themes/dark.css";


@custom-variant dark (&:is(.dark *));
/*<html> etiketinde class='dark' var mı diye bak, varsa dark: class'larını uygula."*/

@theme inline {      /* <p className="font-body text-sm text-muted-foreground mt-2">*/

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  /* primary renginin üzerindeki yazi rengi.*/
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  /* cok dikkat cekmesini istemedigimiz yerler icin.  */
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  /* silme iptal etme gibi islemler icin. */
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  /* input focus oldugunda*/

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);


  --breakpoint-tablet: 40rem;   /* className="text-sm tablet:text-base desktop:text-lg"> */
  /* 640px */
  --breakpoint-desktop: 64rem;
  /* 1024px */

}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-body;
  }
}